In [ ]:
# ex01_머신러닝맛보기(AND연산 학습하기)

In [4]:
# 네모칸 => Cell
# 커멘드 설정(파란색 셀)
# 셀 아래로 생성 : b
# 셀 위로 생성 : a
# 셀 삭제 : dd
# 마크다운 전환 : m
# 마크다운 -> 셀전환 : u
# 셀 복사 : c
# 셀 붙여넣기 : v
# 셀 삭제한 것 다시 되돌리기 : z

#  에디트 설정(초록색 셀)
# 주석처리 ctrl + /

### 목표
- 머신러닝의 과정을 이해해보자
- AND 연산을 하는 pc(모델)을 만들어보자
- 파이썬 도구를 만들어보자

![Alt text](image.png)

In [5]:
# 머신러닝 -> 기계 학습
#  모델이 공부할 재료가 필요
# 데이터가 필요!
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

![Alt text](image-1.png)

In [9]:
# df 생성해보기
data = {
    'A' : [0,0,1,1,1,0,1,0],
    'B' : [0,1,0,1,0,0,1,1],
    
}

# 데이터프레임 생성
df = pd.DataFrame(data)
# A and B 열추가
df['A and B'] = df['A'] & df['B']

print(df)

   A  B  A and B
0  0  0        0
1  0  1        0
2  1  0        0
3  1  1        1
4  1  0        0
5  0  0        0
6  1  1        1
7  0  1        0

- 데이터를 분리

In [10]:
# 머신러닝
# 머신러닝 유형 여러가지
#  - 문제, 셀지뎁 주어진 상태로 학습 : 교사학습, 지도학습
#  - 문제, 실제답이 주어지지 않는 상태로 학습 : 비지도 학습
#  - 환경에 적응하면서 환경 데이터를 이해학 ㅗ행동 강화해 나가는 학습 : 강화학습
#  - 문제, 답 데이터 필요(컬럼 인덱승)
X = #문제(A,B)
Y = #답(A and B)
# 학습 데이터
# 테스트 데이터

df

   A  B  A and B
0  0  0        0
1  0  1        0
2  1  0        0
3  1  1        1
4  1  0        0
5  0  0        0
6  1  1        1
7  0  1        0