### 목표
- 500명의 키와 몸무게, 비만도 라벨을 이용하여 비반을 판단한느 모델을 만들어보자
- 머신러닝 과정
  - 1. 문제정의 : 지도학습 vs 비지도학습, 필요한 데이터 정의, 분류 vs 회귀
  - 2. 데이터 수집 : 크롤링, 데이터베이스, 공공데이터, 설문조사
  - 3. 데이터 전처리(preprocessing) : numpy, pandas 활용
  - 4. 탐색적 데이터 분석(EDA) : 
        - 특징 의미 파악(기술통계 : 평균, 최소, 최대, 최빈, 중앙값, 표준편차) 
        - 특성 간의 상관관계 
        - 그래프를 출력해서 의미 파악 : numpy, pandas, matplotlib
  - 5. 머신러닝 모델 선택, 하이퍼 파라미터(사람 지정 매개변수) 조정 
  - 6. 모델 학습
  - 7. 모델 평가 예측

![Alt text](image.png)

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
# 모델 불러오기
from sklearn.neighbors import KNeighborsClassifier # 모델 분류
# 모델 성능 평가 지도(평가도구)
from sklearn.metrics import accuracy_score # 정확도 평가 도구

- 데이터 준비(불러오기)

In [20]:
data = pd.read_csv('data//bmi_500.csv')
data

     Gender  Height  Weight            Label
0      Male     174      96          Obesity
1      Male     189      87           Normal
2    Female     185     110          Obesity
3    Female     195     104       Overweight
4      Male     149      61       Overweight
..      ...     ...     ...              ...
495  Female     150     153  Extreme Obesity
496  Female     184     121          Obesity
497  Female     141     136  Extreme Obesity
498    Male     150      95  Extreme Obesity
499    Male     173     131  Extreme Obesity

[500 rows x 4 columns]

In [12]:
# 1. 위에서부터 5개 행만 출력
data.iloc[0:5,1:]

   Height  Weight       Label
0     174      96     Obesity
1     189      87      Normal
2     185     110     Obesity
3     195     104  Overweight
4     149      61  Overweight

In [13]:
# 2. 밑에서부터 5개 행만 출력
data.tail(5)

     Gender  Height  Weight            Label
495  Female     150     153  Extreme Obesity
496  Female     184     121          Obesity
497  Female     141     136  Extreme Obesity
498    Male     150      95  Extreme Obesity
499    Male     173     131  Extreme Obesity

In [14]:
# 3. 데이터 크기 정보 확인
data.shape

(500, 4)

In [17]:
# 4. 데이터 차원 확인
data.ndim

2

In [18]:
# ---> (컬러명, 컬럼개수, 행 개수, 결측치여부, 데이터 입력)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Gender  500 non-null    object
 1   Height  500 non-null    int64
 2   Weight  500 non-null    int64
 3   Label   500 non-null    object
dtypes: int64(2), object(2)
memory usage: 15.8+ KB

- 데이터 전처리
    - 데이터 분리

In [21]:
X = data.iloc[0:500,1:3]    #문제
display(X)
Y = data.iloc[0:500,[3]]    #답
display(Y)

     Height  Weight
0       174      96
1       189      87
2       185     110
3       195     104
4       149      61
..      ...     ...
495     150     153
496     184     121
497     141     136
498     150      95
499     173     131

[500 rows x 2 columns]

               Label
0            Obesity
1             Normal
2            Obesity
3         Overweight
4         Overweight
..               ...
495  Extreme Obesity
496          Obesity
497  Extreme Obesity
498  Extreme Obesity
499  Extreme Obesity

[500 rows x 1 columns]